body {
  background-color: #2e272e;
  background-image: url('../img/coffee3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;  }
.container {
  max-width: 800px; }
.header {
  margin-top: 6rem;
  text-align: center; }
.docs-header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600; }
.docs-section {
  border-top: 1px solid #eee;
  padding: 4rem 0;
  margin-bottom: 0;
  text-align: center; }
.footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
  height: 3rem;
  color: #8c788c;
  text-align: center; }
 
.button.button-primary:disabled,
button.button-primary:disabled,
input[type="button"].button-primary:disabled {
  color: #FFF;
  background-color: #2e272e;
}  
  
/* Larger than phone */
@media (min-width: 550px) {
  .header {
    margin-top: 18rem; }
  .docs-section {
    padding: 4rem 0; }
}